<div class="country-selected">
    <h1>{{name}}</h1>
    <img src="{{flag}}" alt="{{name}}" />
    <p><b>Capital: </b>{{capital}}</p>
    <p><b>Population: </b>{{population}}</p>
    <p><b>Languages: </b></p>
    <ul>
        <li>{{name}}</li>
    </ul>
</div>