<div class="country-selected">
    <h1>{{name}}</h1>
    <img src="{{flag}}" alt="{{name}}" width="480" height="240" />
    <p><b>Capital: </b>{{capital}}</p>
    <p><b>Population: </b>{{population}}</p>
    <p><b>Languages: </b></p>
    <ul>
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>
</div>